*,
*::before,
*::after {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 0.7rem;
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: inherit;
}

.app {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background: linear-gradient(to top left, slategray, skyblue);
}
